<nav class="sidebar movie-db-sidebar fixed-left">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let genre of topGenresList">
        <button
          class="btn btn-link btn-block nav-link"
          [routerLink]="[genre.url]"
          [routerLinkActive]="'active-link'"
        >
          <div class="rounded-circle">
            <i class="fa-solid" [ngClass]="genre.iconClass"></i>
          </div>
          <div class="d-md-block d-none">{{genre.name}}</div>
        </button>
      </li>
    </ul>

    <div [style.margin-top]="'40px'">
      <h4 style="color: #017cad; margin-left: 44px;">GENRES</h4>

      <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let genre of genresList">
          <button
            class="btn btn-link btn-block nav-link"
            [routerLink]="[genre.url]"
            [routerLinkActive]="'active-link'"
          >
            <div class="rounded-circle">
              <i class="fa-solid" [ngClass]="genre.iconClass"></i>
            </div>
            <div class="d-md-block d-none">{{genre.name}}</div>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
