<div (click)="this.navigateToDetailsPage()">
  <div class="movie-poster">
    <img [src]="'https://image.tmdb.org/t/p/original' + this.movie.poster_path" width="100%" height="300"
      alt="No poster for this movie" />
  </div>

  <div class="movie-title">
    <h4>{{this.movie.title}}</h4>
    <h6>{{this.movie.release_date | date}}</h6>
  </div>

  <div class="rating" [style.background-color]="this.movie.vote_average >= 7 ? '#6cc04a': '#e24d45'">
    <ng-container *ngIf="this.movie.vote_average >= 7"> <i class="fa fa-star"></i></ng-container>
    <ng-container *ngIf="this.movie.vote_average < 7"> <i class="fa fa-star-half"></i></ng-container>
    {{this.movie.vote_average}}
  </div>

  <div class="voters" [style.background-color]="this.movie.vote_count >= 1000 ? '#6cc04a': '#e24d45'">
    <i class="fa fa-user"></i>
    {{this.movie.vote_count}}
  </div>
</div>
