<div class="grid-movie-cards" *ngIf="this.movieList">
  <div *ngFor="let movie of this.movieList; let idx">
    <a class="card-link">
      <div class="movie-card">
        <movie-card [movie]="movie" [type]="'favorites'"></movie-card>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <custom-paginator
    *ngIf="this.pagination"
    [paginationData]="pagination"
    (NextPage)="loadNewMoviesPaginated()"
    (PrevPage)="loadNewMoviesPaginated()"
    (PageNavigation)="loadNewMoviesPaginated()"
  >
  </custom-paginator>
</div>

<app-spinner [isLoading]="isLoading"></app-spinner>
