<div class="paginator">
  <div class="text-center" *ngIf="paginationData">
    <ul class="pagination text-center">
      <li>
        <span
          [class.disabled]="!showPrevPageLink()"
          (click)="navigateToPage(1)"
          title="First"
        >
          <i class="fa-solid fa-angles-left fa-lg"></i>
        </span>
      </li>
      <li>
        <span
          [class.disabled]="!showPrevPageLink()"
          (click)="navigateToPrevPage()"
          title="Previous"
        >
          <i class="fa-solid fa-angle-left fa-lg"></i>
        </span>
      </li>
      <li
        *ngFor="let pageNr of this.pages; let idx"
        [class.active]="pageNr == this.paginationData.currentPage"
      >
        <a (click)="navigateToPage(pageNr)">{{ pageNr }}</a>
      </li>
      <li>
        <span
          [class.disabled]="!showNextPageLink()"
          (click)="navigateToNextPage()"
          title="Next"
        >
          <i class="fa-solid fa-angle-right fa-lg"></i>
        </span>
      </li>
      <li>
        <span
          [class.disabled]="!showNextPageLink()"
          (click)="navigateToPage(paginationData.totalPages)"
          title="Last"
        >
          <i class="fa-solid fa-angles-right fa-lg"></i>
        </span>
      </li>
    </ul>
  </div>
</div>
