<div class="custom-bradcrumb" *ngIf="this.movieDetail">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><button class="breadcrumb-button" (click)="goToPreviousPage()">{{this.type}}</button>
      </li>
      <li class="breadcrumb-item"> <button class="breadcrumb-button">{{this.movieDetail.title}} </button></li>
    </ol>
  </nav>
</div>

<div class="movie-details" [style.background-image]="this.backgroundImageUrl">
  <div class="details-section">
    <div class="details-img-section">
      <img [src]="this.posterImageUrl">
    </div>
    <div class="details-general-section">
      <div *ngIf="this.movieDetail">
        <h1 [style.font-size]="'40px'" [style.font-weight]="'bold'">{{this.movieDetail.title}}</h1><br>
        <h2>Rating: {{this.movieDetail.vote_average}} / 10</h2><br>
        <div>
          <h3>{{this.returnGenres(this.movieDetail.genres)}}</h3>
        </div><br>
        <h4>{{this.movieDetail.release_date | date: 'mediumDate'}} / {{this.movieDetail.runtime}} mins</h4><br>
        <h4>Status : {{this.movieDetail.status}}</h4>
      </div>
    </div>
  </div>
</div>

<div class="movie-detail-summary" *ngIf="this.movieDetail">
  {{this.movieDetail.overview}}
</div>

<div class="cast" *ngIf="this.movieDetail">
  <h2> Cast of "<strong>{{this.movieDetail.title}}</strong>"</h2>

  <div class="grid-movie-cards" *ngIf="this.movieCast">
    <div *ngFor="let cast of this.movieCast; let idx;">
      <a class="card-link">
        <div class="movie-card">
          <div class="movie-poster">
            <img
              [src]="'https://image.tmdb.org/t/p/original' + cast.profile_path"
              width="100%"
              height="300"
              alt="No poster available for this actor"
            />
          </div>

          <div class="movie-title">
            <h4>{{cast.original_name}}</h4>
            <h5>Known as: {{cast.character}}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
